<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValueNow]="progress1" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progress1 + '%'"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValueNow]="progress2" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progress2 + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementer title="Progress 1" [progress]="progress1" (updateValue)="progress1 = $event"></app-incrementer>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementer title="Progress 2" [progress]="progress2" (updateValue)="progress2 = $event"></app-incrementer>
            </div>
        </div>
    </div>
</div>