<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Themes</h4>
                <hr>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>White sidebar</b></li>
                        <li><a #theme1 (click)="changeColor('default', theme1)" data-theme="default" class="selector default-theme">1</a></li>
                        <li><a #theme2 (click)="changeColor('green', theme2)" data-theme="green" class="selector green-theme">2</a></li>
                        <li><a #theme3 (click)="changeColor('red', theme3)" data-theme="red" class="selector red-theme">3</a></li>
                        <li><a #theme4 (click)="changeColor('blue', theme4)" data-theme="blue" class="selector blue-theme">4</a></li>
                        <li><a #theme5 (click)="changeColor('purple', theme5)" data-theme="purple" class="selector purple-theme">5</a></li>
                        <li><a #theme6 (click)="changeColor('megna', theme6)" data-theme="megna" class="selector megna-theme">6</a></li>

                        <li class="d-block m-t-30"><b>Dark sidebar</b></li>
                        <li><a #theme7 (click)="changeColor('default-dark', theme7)" data-theme="default-dark" class="selector default-dark-theme">7</a></li>
                        <li><a #theme8 (click)="changeColor('green-dark', theme8)" data-theme="green-dark" class="selector green-dark-theme">8</a></li>
                        <li><a #theme9 (click)="changeColor('red-dark', theme9)" data-theme="red-dark" class="selector red-dark-theme">9</a></li>
                        <li><a #theme10 (click)="changeColor('blue-dark', theme10)" data-theme="blue-dark" class="selector blue-dark-theme">10</a></li>
                        <li><a #theme11 (click)="changeColor('purple-dark', theme11)" data-theme="purple-dark" class="selector purple-dark-theme">11</a></li>
                        <li><a #theme12 (click)="changeColor('megna-dark', theme12)" data-theme="megna-dark" class="selector megna-dark-theme">12</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>